<div class="row col-lg-6 col-xs-12 center-lg centre">
        
    <div class="blogCadre">
         <div class="immage">
                 <img src="assets/images/author.jpg" alt="erreur de chargement de l'image">
         </div>
         <div class="start-xs start-ms start-md start-lg description">
             <div class="imageAuthor">
                 <img src="assets/images/person_1.jpg" alt="erreur de chargement">
                 <div class="persoInfos">
                     <span>lancé par:</span>
                    <a href=""><p >Cherif Barry</p></a> 
                 </div>

             </div>
             
         </div>
         <div class="butttons">
             <div class="start-lg start-xs start-ms">
                 <button>Voir challenge</button>
             </div>
             
         </div>
    </div>
    <div class="blogCadre">
     <div class="immage">
             <img src="assets/images/author.jpg" alt="erreur de chargement de l'image">
     </div>
     <div class="start-xs start-ms start-md start-lg description">
         <div class="imageAuthor">
             <img src="assets/images/person_1.jpg" alt="erreur de chargement">
             <div class="persoInfos">
                 <span>lancé par:</span>
                <a href=""><p>Cherif Barry</p></a> 
             </div>

         </div>
         
     </div>
     <div class="butttons">
         <div class="start-lg start-xs start-ms">
             <button>Voir challenge</button>
         </div>
         
     </div>
</div>
<div class="blogCadre">
 <div class="immage">
         <img src="assets/images/author.jpg" alt="erreur de chargement de l'image">
 </div>
 <div class="start-xs start-ms start-md start-lg description">
     <div class="imageAuthor">
         <img src="assets/images/person_1.jpg" alt="erreur de chargement">
         <div class="persoInfos">
             <span>lancé par:</span>
            <a href=""><p >Cherif Barry</p></a> 
         </div>

     </div>
     
 </div>
 <div class="butttons">
     <div class="start-lg start-xs start-ms">
         <button>Voir challenge</button>
     </div>
     
 </div>
</div>
<div class="blogCadre">
 <div class="immage">
         <img src="assets/images/author.jpg" alt="erreur de chargement de l'image">
 </div>
 <div class="start-xs start-ms start-md start-lg description">
     <div class="imageAuthor">
         <img src="assets/images/person_1.jpg" alt="erreur de chargement">
         <div class="persoInfos">
             <span>lancé par:</span>
            <a href=""><p >Cherif Barry</p></a> 
         </div>

     </div>
     
 </div>
 <div class="butttons">
     <div class="start-lg start-xs start-ms">
         <button>Voir challenge</button>
     </div>
     
 </div>
</div>


 </div>