<div class="row col-lg-3 droite">
    <section>
        <div class="userprofile">
            <div class="imageProfile">
                <img src="assets/images/person_1.jpg" alt="error while loading">
            </div> 
           
            <div class="AddUsers">
                <div class="titreSection">
                    <h3 >Suivez aussi</h3>
                </div>
                <div class="row col-lg-12 realSection">
                    <div class="immg">
                        <img src="assets/images/person_1.jpg" alt="">
                    </div>
                    <div class="userInfo">
                        <h5> Cherif barry</h5>
                    </div>
                </div>
            </div>
        </div>    
        
        
    </section>
</div>
