<div class="row col-lg-3 gauche">
    <ul class="menus">
        <li routerLink="/home"> <a routerLinkActive="activeLink">Home</a></li>
        <li routerLink="/add-friends"> <a routerLinkActive="activeLink">add friends</a></li>
        <li routerLink="/chooseImage"> <a routerLinkActive="activeLink">challenges</a></li>
        <li routerLink="/live-results"> <a routerLinkActive="activeLink">live-results</a></li>
    </ul>

    <div class="identite">
        <h2>Cherif Barry</h2>
    </div>

    <div class="para">
        <p align="center">Notre seule priorité c'est bien Vous</p>
    </div>
</div>